.logo{
    font-family: 'Montserrat', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
}

.logo-dot {

    color: #A3DC00;
}

.main-title{
    max-width: 495px;
    width: 100%;
    margin-top: 200px;
    margin-left: 201px;
    font-family: 'Ramaraja', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: 0;
    color: #1B0A42;
}


.main-info{
    max-width: 583px;
    width: 100%;
    margin-top: 0;
    margin-left: 200px; 
    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #9A9A9A;
}

section{display: inline-block;}
.main-btn{
    width: 152px;
    line-height: 32px;
    margin-top: 50px;
    margin-left: 200px; 
    font-family: 'Roboto', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0;
    background-color: #A3DC00;
    border-radius: 6px;
}